.PageWrapper {
  display: flex;
  flex-direction: column;
  background-color: #5cc6f9;
  width: 100vw;
  height: 100vh; }

.title {
  align-items: center;
  margin: auto;
  margin-top: 30vh;
  margin-bottom: 0; }

.button {
  width: 8em;
  height: 2em;
  margin: auto;
  margin-top: 2em; }

.numberField {
  margin: auto;
  margin-top: 4em;
  margin-bottom: 2em;
  justify-content: center;
  align-items: center; }
